@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Syuku&display=swap');

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color:black;
    color: #cdb57f
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 50px 700px 700px 700px 700px 50px;
}

.landingIntro,
.landingSynopsis{
    background-image: url("/media/background.png");
    background-size: cover;
}

.landingIntro{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas:
    "hd bc"
    "tt bc"
    "bn bc";
}

.informativeInfo{
    position: relative;
    top: 100px;
}

h3,
h1,
.bookNames{
    text-align: center;
}

h3{
    font-family: "Playfair";
    font-size: 35px;
    grid-area: hd;
    margin-bottom: 0;
}

h1{
    font-family:"Taviraj" ;
    font-weight: 100;
    font-size: 6.875em;
    margin: 0;
    grid-area: tt;
}

.bookNames{
    position: relative;
    font-family: "Taviraj" ;
    font-weight: 100;
    font-size: 16px;
    color: white;
    grid-area: bn;
}

.spacer{
    position: relative;
    top: 16px;
    height: 45px;
}

.book-mockup{
    height: 100%;
    width: 100%;
    grid-area: bc;
}

.landingSynopsis{
    margin-left: 100px;
    margin-right: 100px;

    text-align: center;

}

p{
    font-family: "Yuji Syuku";
    font-size: 16px;
    line-height: 50px;
}