@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Syuku&display=swap');

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    color: #cdb57f;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
}

/* Header and Navagation */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #cdb57f1c;
    z-index: 1000;
}

nav#nav{
    display: flex;   
    align-items: center;
    justify-content: center;
    margin: 15px;

}

#nav-sections {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#nav-sections li {
    margin: 0 20px;
}

#nav-sections a {
    text-decoration: none;
    text-transform: uppercase;
    color: #cdb57f;
    transition: all 0.3s ease;
}

#nav-sections a:hover,
#nav-sections a.active {
    color: #ffffff;
    text-decoration: underline;
}

.menu-button {
    display: none;
    margin-top: 0;
}

/* Sections */

section {
    min-height: 100vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

section.active-section {
    background-color: rgba(205, 181, 127, 0.1);
    border-left: 5px solid #cdb57f;
}

/* Typography */
h3 {
    font-family: "Playfair", serif;
    margin-bottom: 20px;
    font-size: 1.8em;
}

h1 {
    font-family: "Taviraj";
    font-weight: 100;
    font-size: 6.875em;
    margin: 0 0 20px 0;
}

h2 {
    font-family: "Taviraj";
    font-weight: 300;
    font-size: 2.875em;
}

p {
    font-family: "Yuji Syuku", serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Buttons */
button {
    height: 50px;
    color:#cdb57f;
    background-color: transparent;
    border-color: #cdb57f;
    padding: 10px 20px;
    font-family: "Taviraj", serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #cdb67f45;
    
}

/* Section: landingIntro */

#landingIntro,
#landingSynopsis,
#landingAuthor,
#landingNewsletter {
    background-image: url("/media/background.png");
    background-size: cover;
}

#landingIntro {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "info mockup";
    align-items: center;
}

.informativeInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.book-mockup {
    grid-area: mockup;
    max-width: 100%;
    height: auto;
    justify-self: center;
    padding-left: 60px;
}

.carousel{
    display: none;
}

.bookNames {
    font-family: "Taviraj";
    font-weight: 100;
    font-size: 16px;
    color: white;
    margin: 0 0 20px 0;
}

.spacer {
    position: relative;
    top: 16px;
    height: 45px;
}

.buyBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Section: landingSynopsis; paragraph */
/* Section: landingAuthor */

p {
    font-family: "Yuji Syuku";
    font-size: 16px;
    line-height: 2.6;
    color: white;
    margin: 50px auto;
    max-width: 800px;
}

.author {
    max-width: 309px;
    width: 15%;
    height: auto;
    border-radius: 2%;
    margin-top: 10px;
}

/* Section: landingNewsletter */

.form-box {
    display: inline;
}

input,
button {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Taviraj";
    border-radius: 5px;
}

input {
    border: 0;
    height: 50px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* Section: socialMedia */

.socialMedia {
    text-align: center;
}

img {
    height: 60px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #cdb57f;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Taviraj";
    font-size: 16px;
    font-weight: 300;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    header{
        background: none;
    }

    .menu-button {
        width: 30%;
    }

    #nav-sections {
        display: none;
    }

    #nav-sections.show {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 50px; /* Adjust based on your header height */
        left: 5px;
        width: 29%;
        background-color: #564c34fb; /* Match your site's background */
        padding: 10px 0;
        border-radius: 0 5px 5px;    
    }

    #nav-sections li {
        margin: 10px 0;
    }

    .nav-toggle{
        display: flex;
        width: 60px;
    }
    
    #landingIntro {
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "mockup";
    }

    .informativeInfo {
        align-items: center;
        padding-right: 0;
        margin-bottom: 20px;
    }

    h3, h1, .bookNames {
        text-align: center;
    }

    .bookNames{
        font-size: 2vw;
    }

    .book-mockup {
        display: none;
    }

    .carousel{
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .carousel_bookImg, 
    .carousel .carousel_bookImg--hidden{
        display: none;
    }
    
    .carousel_bookImg img {
        max-width: 600px;
        width: 90%;
        height: auto;
    }
    
    .carousel .carousel_bookImg--visible{
        display: block;
        animation: fadeVisiblilty 0.5s;
    }
    
    .carousel-action{
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 45%;
        width: 600px;
    }
    
    .carousel button {
        padding: 0;
        width: 30px;
        height: 40px;
    }
    
    @keyframes fadeVisiblilty{
        0% {
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: opacity linear;
        }
    }

    .author{
        width: 100%;
    }

    .buyBtn {
        justify-content: center;
    }

    h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-rows: auto;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #nav-sections {
        display: none; /* Hide by default on small screens */
    }

    #nav-sections.show {
        display: flex; /* Show when toggled */
    }

    #nav-sections li {
        margin: 10px 0;
    }

    .menu-button {
       position: relative;
    }

    .carousel_bookImg{
        width: 80%;
    }
    .carousel-action{
        width: 550px; 
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    input {
        width: 80%;
        margin-right: 0;
    }

    button {
        width: 100%;
        margin-top: 15px;
    }
}

@media  screen and (max-width: 600px) {
   .container{
    padding: 10px;
}

.carousel-action{
    width: 400px; 
}

h1{
    font-size: 8vw;
   }
}

@media screen and (max-width: 480px) {
    .carousel-action{
        width: 330px; 
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 396px) {
    .carousel-action{
        display: flex;
        position: absolute;
        top: 85%;
        width: 100px; 
    }

    .carousel button{
        height: 25px;
        font-size: 14px;
    }
}
