@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Yuji+Syuku&display=swap');
body{
    background-color:;
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 50px 700px 700px 700px 700px 50px;
}

.landingIntro{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:100px 100px;
    grid-template-areas:
    "hd bc"
    "tt bc"
    "bn bc";
}

h3,
h1,
.bookNames{
    margin-left: 75px;
    margin-right: 75px;
}

h3{
    font-family: "Playfair";
    font-size: 40px;
    grid-area: hd;
}

h1{
    font-family:"Cormorant Garamond" ;
    font-weight: 100;
    font-size: 110px;
    grid-area: tt;
}

.bookNames{
    font-family: "Cormorant Garamond" ;
    font-weight: 100;
    font-size: 20px;
    margin-top: 50px;
    grid-area: bn;
}

img{
    grid-area: bc;
}

.landingSynopsis{
    margin-left: 100px;
    margin-right: 100px;

    text-align: center;

}

p{
    font-family: "Yuji Syuku";
    font-size: 16px;
    line-height: 50px;
}